[supplier_codes]
source_system_code = NSR 
source_system_name = Naturalis - Dutch Species Register
source_institution_id = Naturalis Biodiversity Center
source_id = NG NSR

[specimen]
is_incremental = no
schema_file = "/opt/git/nba_json_schemas/general/specimen/specimen--v2.17.json"
input_dir = "/data/input/"
save_file_basename = validated-specimen
allow_double_ids = no
load_error_threshold = 1000
fail_on_any_error = no

[multimedia]
is_incremental = no
schema_file = "/opt/git/nba_json_schemas/general/multimedia/multimedia--v2.17.json"
input_dir = "/data/input/"
save_file_basename = validated-multimedia
allow_double_ids = no
load_error_threshold = 1000
fail_on_any_error = no

[settings]
read_buffer_size = 10000
use_ISO8601_date_check = no 
archive_dir = "/data/archive/"
report_dir = "/data/reports/"